# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/

# Visual Studio
.vs/
.vscode/
.idea/

# User files
*.suo
*.user
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# App specific
*.log
build_release.bat
generate_assets.py
sync_blender_reference.py
scrapper.py
